body {
font-family: Arial, sans-serif;
}


h1 {
color: rgb(135, 135, 135);
display: block;
font-size: 24px;
font-weight: 100;
line-height: 28px;
margin-bottom: 9px;
}

ul {
margin: 0;
padding: 0;
}

li {
list-style: none;
color: rgb(135, 135, 135);
font-size: 16px;
font-weight: 100;
line-height: 20px;
text-transform: capitalize;

}

.weather-app-wrapper {
max-width: 600px;
margin: 30px auto;
}

.weather-app {   
padding: 20px;
border: 1px solid #dadde1;
border-radius: 5px;
}

.first-part {
    margin-bottom: 15px;
}

.weather-temperature img {
    width: 64px;
    height: 64px;
    margin-right: 10px;
    margin-bottom: 25px;
}
.weather-temperature strong {
    color: rgb(33,33,33);
    font-weight: 400;
    font-size: 54px;
}

.weather-temperature .units {
    color: rgb(33, 33, 33);
    font-size: 16px;
    font-weight: 100;
    position: relative;
    top: -26px;
    text-decoration-line:none;
}

.list {
    position: relative;
    top: 18px;
}